body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0;
    color: #02558B;

}

h1, h2, h3, h4, h5, h6{
font-family:Ubuntu;
text-align:center;
}

h2{
    margin: .1em;
}

header {
    text-align:center;

}

#hero, footer {
    color:#000; 
    border: 10px double #02558B;
    border-radius: 20px;
    box-shadow: 3.5px 3.5px 3.5px 3.5px rgba(0,0,0,1) inset;
    background-color: #02558B;
    background-origin:border-box;
    text-align:center;
    text-shadow:1px 1px 1px #000, 
    2.5px 2.5px 4px #A5A5AF; 
    padding: .5em;
    margin-bottom: 2em;
    padding:10px;
    
}


/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio h1 {
    text-align: left;
    color: #02558B;
    font-weight: bold;
    text-shadow: 1px 1.5px 1px gray;
}

#bio {
    
    text-align: left;
    color: #000000;
}
   


/* Photo Gallery */

#gallery h2{
    text-align: left;
    color: #02558B;
    text-shadow: 1px 1.5px 1px gray;
}

img {
    position:relative;
    width:  440px;
    height: 300px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.50) 
    0px 2px 5px -1px, rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
}
    

#gallery img {
    display: block;
    max-width:100%;
}


#gallery figure {
    text-align:center;
}



/* Literature */

#lit h2 {
    text-align: left;
    color: #02558B;
    text-shadow: 1px 1.5px 1px gray;
}

#lit {
    color: black;
    margin-bottom: 3rem;
}

#lit div{
    padding:3rem;
    clear:both;
}

/* Dropcaps */

#lit div :first-child:first-letter {
    color:#02558B;
    font-size:4rem;
    float:left;
    margin-right:1rem;
    border: 2.5px double;
    border-radius: 5px; 
    text-shadow: 2.5px 5.5px 3.5px gray;
    font-size:3rem;
    padding:.5rem;
    line-height:.65;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* CSS Animation */

#animations h2{
    text-align: left;
    color: #02558B;
    text-shadow: 1px 1.5px 1px gray;

}


.box {
    width: 25px;
    height:25px;
    background-color: #cdb4db;
    border-radius:100px;
    position: relative;
    bottom: 50px;
    left: 10px;
   

    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}


@keyframes animation {
    0% {background-color:#00296b; left: 0px top:0px}
    25% {background-color:#003f88; left: 300px top: 0px;}
    50% {background-color:#00509d; left:500px;}
    75% {background-color:#fdc500;}
    100% {background-color:#ffd500;}

}


/* Video */

#video h2 {
    
     margin-top:2em;
     margin-bottom:2em;
    display: block;
    margin: auto 0px;
 }


/* Contatct Form */

    #formElements {
      display:grid;
      row-gap:.5em;

    }

    #contact h2 {
        color: #02558B;
        text-shadow: 1px 1.5px 1px gray;
    }

    #contact {
        padding: 1rem;
        max-width: 600px;
        margin: 2rem auto;
    }

    fieldset {
        border: 2px solid #02558B;
        margin-top:1em;
        margin-bottom:1em;
        border-radius: .5rem;
        

    }

    legend {
        background-color: #02558B;
        color: white;
        padding:.5em;
    }

    #contact input, #contact textarea, #contact select, #contact button {
      padding:.5em;
      font-size: 1rem;  
    }

    #contact ul {
        list-style: none;
        padding: 0px;
    }

    #contact li {
        margin:1rem;
    }

    #contact button {
        background-color: #02558B;
        color: white;
        border: 1px solid #02558B;
        max-width: 400px;
        width: 75px;
        justify-self: center;
    }

/* tablet size */

@media screen and (min-width: 60em){}
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
}

#lit div{
    max-width:100%;
    columns:20rem;
}

/* Large screen size */

@media screen and (min-width: 100em){}
    #gallery {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    }

hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
display: block;
}

