body {
    font-family:Oswald;
    background-color: #F0CA8D;
    color: #00008B;

}

h1, h2, h3, h4, h5, h6{
font-family:Ubuntu;
text-align:center;
}

header {
    text-align:center;

}

#hero, footer {
    color:#00008B; 
    border: 2px solid #97E3F0;
    background-color: #E6B39C;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;

}

#bio {
    text-align:center;


}

#bio {
    text-align: center;
}

#hobbies ul li:nth-child(odd) {
    color:#008080;
}